.mascotas{
    display: flex;
    flex-direction: column;
    max-width:250px;
}

.mascota{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#boton-reiniciar{
    display: none;
}